.mat-toolbar.mat-primary {
    background: #ba75da;
    color: #fff;
  }


.example-spacer {
    flex: 1 1 auto;
  }
  table {
    width: 100%;
    background-color: #ba75da;
  }
  
  .mat-form-field {
    font-size: 20px;
    width: 100%;
    background-color: #ba75da;
    margin-top: 10%;
  }
  
  .container
  {
    max-width: 1200px;
    margin:0 auto;
  
  }
  mat-form-field
  {
    background-color: #ba75da;
    width: 100%;
    margin-top: 10%;
  }