<p>
    <mat-toolbar color="primary">
      <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
        <mat-icon>house</mat-icon>
      </button>
      <span>My App</span>
      <span class="example-spacer"></span>
      <!-- <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
      
      </button> -->
      <span class="example-spacer"></span>
    <button mat-raised-button [routerLink]="['login1']" color="warn">Registration</button> 
    <span class="example-spacer1"></span>&nbsp;
    <button mat-raised-button  [routerLink]="['table']" color="warn">Table</button> 
    <!-- <a routerLink="table">Table</a> -->
    
    
          </mat-toolbar>
  </p>

  
  