body { 
    padding-top: 65px; 
}
@media screen and (min-width:768px) and (max-width:991px) {
    body {
        margin-top:100px;
    }
}
@media screen and (min-width:992px) and (max-width:1199px) {
    body {
        margin-top:50px;
    }
}
div{
    justify-content: center;
}
h1
{
   text-align: center;
}
mat-form-field
{
    width:30%;
    margin-left:20%;
    margin-top: 30px;
    display: flex;
    align-items: center;
    
}
.btn1
{
   
    // margin-left:20%;
    // width: 30%;
    // display: flex;
    // justify-content: center;
    // align-items: center;
    width: 30%;
    padding:30px;
    margin:10px 0 10 px 0;
    border:0;
    font-size: 17px;
    text-transform: uppercase;
    cursor: pointer;
    margin-right: 40%;
    margin-top: 20px;
    margin-left: 40px
    
}
.btn2
 {
    background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 6px 4px;
  cursor: pointer;
  border-radius: 5px;
  margin-right: 10%;
  margin-left: 10%;

}
mat-form-field.phone {
    display: inline-block;
    margin-right: 10px;
  }

  
  
  