<div>
    <label for="studentName">Student Name:</label>
    <input id="studentName" [(ngModel)]="studentName" />&nbsp;
    <label for="score">Student Score:</label>
    <input id="score" [(ngModel)]="score" />
  
    <button (click)="calculateScore()">Calculate Score</button>
    <button (click)="toggleColor()">Toggle Color</button>
  
    <div [ngStyle]="{ color: textColor }">
      <ng-container *ngIf="score !== undefined">
        {{ studentName }} is 
        <ng-container [ngStyle]="{ color: score >= 50 ? 'green' : 'red' }">
          {{ score >= 50 ? 'Pass' : 'Fail' }}
          <ng-container *ngIf="score >= 50">- Percentage: {{ score }}%</ng-container>
        </ng-container>
      </ng-container>
    </div>
  </div>
  